# http://editorconfig.org
root = true

[*]
charset = utf-8
trim_trailing_whitespace = true

[*.js]
indent_style = tab
indent_size = 4

[.jshintrc,.eslintrc]
indent_style = space
indent_size = 4

[*Makefile*]
indent_style = tab
indent_size = 4
