{
    "globals": {
    },
    "rules": {
		"comma-dangle": [0, "always-multiline"],
        "indent": [0, "tab"],
        //"indent": [2, "tab", {"VariableDeclarator": 0}],
        "quotes": [1, "single"],
        "linebreak-style": [2, "unix"],
		"no-mixed-spaces-and-tabs": [2, "smart-tabs"],
        "semi": [2, "always"]
    },
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended"
}
